.btn {
  padding: 0;
  margin: 0;
  padding: 10px 15px;

  background-color: inherit;
  border: 0;
  border: 2px solid @border-color;

  color: @text-color;
  text-decoration: none;
  font-family: "Montserrat";

  cursor: pointer;
  outline: 0;

  &:hover, &:focus {
    box-shadow: 0 0 10px 0px @border-color inset;
  }
}

.btn--light {
  border-color: @border-color-light;
  background-color: @bg-color-dark;
  color: @text-color-light;

  &:hover {
    background-color: @border-color-light;
    color: @text-color;
  }
}
