.reviews {
  background-image: url("../../img/review-bg.jpg");
  background-position: center top;
  background-size: cover;
}

.reviews__list {
  position: relative;
  width: 100%;
  height: 520px;
  margin: 0;
  padding: 0;
  list-style: none;

  overflow: hidden;
}

.reviews__item {
  display: inline-block;
  width: 100%;
  height: 520px;
}

.reviews__item-wrap {
  width: 80%;
  margin: 0 auto;
  padding: 70px 0;

  text-align: center;
  color: @text-color-light;
}

.reviews__autor-img {
  width: 105px;
  height: 105px;
  margin: 0 auto;
  margin-bottom: 50px;

  border-radius: 50%;
  overflow: hidden;
}

.reviews__text {
  font-size: @font-size-bigger;
  font-style: italic;
}
